@model Nge.Web.Models.Codes.IndexViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="NewCodeValue" class="control-label"></label>
                <input asp-for="NewCodeValue" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="NewCodeType" class="control-label"></label>
                <input asp-for="NewCodeType" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
                <th>Тип</th>
                <th>Значение</th>
            <th></th>
        </tr>
    </thead>
    <tbody>

    @foreach (var item in Model.Codes)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
